body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
Hr {
Border-style: none;
Border-top-style: dashed;
Border-color: grey;
border-width: 3px;
width: 6%;
}
